<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VectorStack</title>
		<link rel="stylesheet" type="text/css" href="/css/home/index.css">
		<link rel="stylesheet" type="text/css" href="/css/home/default.css">
        <link rel="stylesheet" type="text/css" href="/css/home/bootstrap.min.css">
        <script type="text/javascript" src="/js/home/jquery-3.2.1.min.js"></script>
        <script rel="text/javascript" src="/js/home/bootstrap.min.js"></script>
        
	</head>
<body>
	<%include ./header.html%>
    <div class="container">
        <form class="form-signin">
            <h3 class="form-signin-heading">忘记密码</h3>
            <hr>
            <div class="form-group">
                <input autofocus="autofocus"  maxlength="150" minlength="1" name="username" placeholder="手机号码" type="text" required="" class="form-control">
            </div>
            <div class="form-group">
                <input name="code" placeholder="验证码" type="code" required="" class="form-control">
                <button class="btn btn-primary" type="button" id="sendEmail" class="form-control">点击发送验证码到邮箱</button>
            </div>
            <div class="form-group">
                <input name="password" placeholder="新密码" type="password" required="" class="form-control">
            </div>
            <div class="form-group">
                <input name="repassword" placeholder="重复密码" type="password" required="" class="form-control">
            </div>
            <button class="btn btn-primary" type="button" id="submit">确定</button>
            <hr>
        </form>
    </div>
    <script>
        $(function(){
            $("#sendEmail").click(function(){
                var username = $("input[name=username]").val();
                if(!username){
                    alert("请输入手机号码");
                }
                $.ajax({
                    url:'/home/sendEmail',
                    data:{
                        username: username
                    },
                    success:function(res){
                        if(res.errcode == 0){
                            alert("发送成功");
                        }else{
                            alert(res.errmsg);
                        }
                    }
                })
            })
            $("#submit").click(function(){
                var username = $("input[name=username]").val();
                var password = $("input[name=password]").val();
                var repassword = $("input[name=repassword]").val();
                var code = $("input[name=code]").val();
                if(!username){
                    alert("请输入手机号码");
                    return;
                }
                if(!password){
                    alert("请输入密码");
                    return;
                }
                if(!repassword){
                    alert("请输入重复密码");
                    return;
                }
                if(password != repassword){
                    alert("两次密码输入不一致");
                    return;
                }
                if(!(/^1[34578]\d{9}$/.test(username))){ 
                    alert("手机号码有误，请重填");  
                    return; 
                }
                console.log('====>');
                $.ajax({
                    url: '/home/forgetPwd',
                    type: "POST",
                    data:{
                        username: username,
                        password: password,
                        repassword: repassword,
                        code: code,
                    },
                    success:function(res){
                        if(res.errcode == 0){
                            alert('修改成功');
                            window.location.href = res.data;
                        }else{
                            alert(res.errmsg);
                        }
                    }
                })
            })
        })
    </script>
</div>