<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VectorStack</title>
		<link rel="stylesheet" type="text/css" href="/css/home/index.css">
		<link rel="stylesheet" type="text/css" href="/css/home/default.css">
        <link rel="stylesheet" type="text/css" href="/css/home/bootstrap.min.css">
       	<script type="text/javascript" src="/js/home/jquery-3.2.1.min.js"></script>
		<script rel="text/javascript" src="/js/home/bootstrap.min.js"></script>
        
	</head>
<body>
	<%include ./header.html%>
		<img src ="/image/home/index.jpg" style="height:900px"/>
</body>

