<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VectorStack</title>
		<link rel="stylesheet" type="text/css" href="/css/home/index.css">
		<link rel="stylesheet" type="text/css" href="/css/home/default.css">
        <link rel="stylesheet" type="text/css" href="/css/home/bootstrap.min.css">
        <script type="text/javascript" src="/js/home/jquery-3.2.1.min.js"></script>
        <script rel="text/javascript" src="/js/home/bootstrap.min.js"></script>
        
	</head>
<body>
	<%include ./header.html%>
    <div class="container">
        <form class="form-signin">
            <h3 class="form-signin-heading">注册</h3>
            <hr>
            <div class="form-group">
                <input autofocus="autofocus"  maxlength="150" minlength="1" name="username" placeholder="绑定手机号码" type="text" required="" class="form-control">
            </div>
            <div class="form-group">
                <input name="password" placeholder="密码" type="password" required="" class="form-control">
            </div>
            <div class="form-group">
                <input name="repassword" placeholder="重复密码" type="password" required="" class="form-control">
            </div>
            <div class="form-group">
                <input name="nickname" placeholder="昵称" type="text" required="" class="form-control">
            </div>
            <div class="form-group">
                <input name="email" placeholder="邮箱" type="text" required="" class="form-control">
            </div>
            <button class="btn btn-primary" type="button" id="register">注册</button>
            <hr>
        </form>
    </div>
    <img src ="/image/home/index.jpg" style="height:900px"/>
    <script>
        $(function(){
            $("#register").click(function(){
                var username = $("input[name=username]").val();
                var password = $("input[name=password]").val();
                var repassword = $("input[name=repassword]").val();
                var email = $("input[name=email]").val();
                var nickname = $("input[name=nickname]").val();
                if(!username){
                    alert("请输入手机号码");
                    return;
                }
                if(!password){
                    alert("请输入密码");
                    return;
                }
                if(!repassword){
                    alert("请输入重复密码");
                    return;
                }
                if(!email){
                    alert("请填写邮箱");
                    return;
                }
                if(!nickname){
                    alert("请输入昵称");
                    return;
                }
                if(password != repassword){
                    alert("两次密码输入不一致");
                    return;
                }
                if(!(/^1[34578]\d{9}$/.test(username))){ 
                    alert("手机号码有误，请重填");  
                    return; 
                }
                if(!(/^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/).test(email)){
                    alert("邮箱有误，请重填");
                    return;  
                } 
                $.ajax({
                    url: '/home/register',
                    type: "POST",
                    data:{
                        username: username,
                        password: password,
                        repassword: repassword,
                        email: email,
                        nickname: nickname
                    },
                    success:function(res){
                        if(res.errcode == 0){
                            alert('注册成功');
                            window.location.href = res.data;
                        }else{
                            alert(res.errmsg);
                        }
                    }
                })
            })
        })
    </script>
</div>